body {
    background: linear-gradient(to right, #30f8f8, #a789e6);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.text-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.management-links {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    background: linear-gradient(to right bottom, rgba(255,255,255, 0.7), rgba(255,255,255, 0.3));
    border-radius: 1rem 1rem 1rem 1rem;
    padding: 2rem;
    margin-top: 1rem;
}

.management-links a {
    text-decoration: none;
    color: white;
}

.management-links a:hover {
    opacity: 80%;
}


.management-links h1 {
    font-size: 1.3rem;
}

.create-div, .manage-players-div, .view-tournament-div, .manage-venues-div, manage-games-div {
    display: block;
}

#create, #manage-players, #view-tournament, #manage-venues, #manage-games {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

#create {
    background-image: url("images/hammerandnail.jpg");
}

#manage-players {
    background-image: url("images/players.jpg");
}

#manage-venues {
    background-image: url("images/venue.jpg");
}

#view-tournament {
    background-image: url("images/tournament.jpg");
}

#manage-games {
    background-image: url("images/games.jpg");
}

.user-tournaments-list {
    background: linear-gradient(to right bottom, rgba(255,255,255, 0.7), rgba(255,255,255, 0.3));
    border-radius: 1rem 1rem 1rem 1rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin-top: 4rem;
    margin-left: 1rem;
    padding: 1rem;
}

.grid li {
    margin-top: 2rem;
}

.user-tournaments-list h2 {
    text-align: center;
}

.user-tournaments-list li {
    list-style: none;
    /*border: 1px solid black;*/
}

.user-tournaments-list p {
    font-style: italic;
}

.user-tournaments-list li h4 {
    font-size: 1rem;
}

.user-tournaments-list li h5 {
    font-size: 0.9rem;
}

h2 {
    font-family: Calibri;
}

