@page
@model TournamentAdministration.Pages.Games.CreateModel

<div class="text-center">
    <h1 class="display-4">Add Game</h1>
</div>
<div class="text-left">
    <form method="post">
        <h2>Game Name</h2>
        <input type="text" placeholder="Game Name" asp-for="Game.Title" />
        <button type="submit">Add Game</button>
    </form>
 
    @if (ViewData["Message"] != null)
            {
                <script>
                    alert("@ViewData["Message"]")
                </script>
            }
</div>
