@page
@model TournamentAdministration.Pages.Games.CreateModel

<div class="text-center">
    <h1 class="display-4">Add Game</h1>
</div>
<div class="text-left">
    <form method="post">
        <h2>Game Name</h2>
        <input type="text" placeholder="Game Name" asp-for="Game.Title" />
        <button type="submit">Add Game</button>
        <p></p>
        <a asp-page="/Tournaments/Create">Create Tournament</a>
    </form>

    @if (ViewData["Message"] != null)
    {
        <script>
                    alert("@ViewData["Message"]")
        </script>
    }

    <p></p>

    <h2>Games</h2>
    <ul id="player-list">
        @foreach (var game in Model.Games)
        {
            <li>
                <input type="checkbox">
                <label value=@game.ID>

                    @game.Title -
                    <a asp-page="/Games/Create"
                       onclick="return confirm('Are you sure you want to delete this game?');"
                       asp-page-handler="Delete" asp-route-id="@game.ID">Delete</a>

                </label>
                <br>
            </li>
        }
    </ul>
</div>
