@page
@model TournamentAdministration.Pages.Games.EditModel
@{
    ViewData["Title"] = "Manage Games";
}

<div class="text-center">
    <h1 class="display-4">Edit Games</h1>
</div>
<div class="text-left">
    <form method="post">
        <h2>Game Info</h2>
        <input type="text" placeholder="Title" asp-for="Game.Title" />
        <button type="submit">Save Changes</button>
    </form>
</div>
