@page
@model TournamentAdministration.Pages.Venues.EditModel
@{
    ViewData["Title"] = "Manage Venues";
}

<div class="text-center">
    <h1 class="display-4">Edit Venue</h1>
</div>
<div class="text-left">
    <form method="post">
        <h2>Venue Info</h2>
        <input type="text" placeholder="Venue" asp-for="Venue.VenueName" />
        <input type="text" placeholder="Longitude (00,00000)" asp-for="Venue.Coordinate.Latitude" />
        <input type="text" placeholder="Latitude (00,00000)" asp-for="Venue.Coordinate.Longitude" />
        <button type="submit">Save Changes</button>
    </form>
</div>


