@page
@model TournamentAdministration.Pages.Tournaments.CreateModel

<div class="text-center">
    <h1 class="display-4">Create Tournament</h1>
</div>
<div class="text-left">
    <form method="post">

        <h2>Venue</h2>
        <select asp-for="Venue.ID">
            <option value="">Select a venue</option>
            @foreach (var venue in Model.Venues)
            {
                <option value=@venue.ID>@venue.VenueName</option>
            }
        </select>
        <p>Not in list? - <a asp-page="/Venues/Create">Add Venue</a></p>

        <h2>Game</h2>
        <select asp-for="Game.ID">
            <option value="">Select a game</option>
            @foreach (var game in Model.Games)
            {
                <option value=@game.ID>@game.Title</option>
            }
        </select>
        <p>Not in list? - <a asp-page="/Games/Create">Add Game</a></p>

        <h2>Tournament Name</h2>
        <input type="text" placeholder="Name of your tournament" asp-for="Tournament.TournamentName" />

        <p></p>

        <h2>Date</h2>
        <input type="date" value="@DateTime.Today.ToString("yyyy-MM-dd")" asp-for="Tournament.EventTime" />
        <button type="submit">Create Tournament!</button>

        @if (ViewData["Message"] != null)
        {
            <script type="text/javascript">
            alert("@ViewData["Message"]");
            </script>
        }
    </form>
</div>